{% extends 'main.html' %}

{% block title %}
	PasswordChangePage
{% endblock %}

{% block content %}
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>User Password Change page</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-success" value="Change">
    </form>

</div>

{% endblock %}

{% block my_scripts %}
    <script>
        $('input').addClass('form-control')
        $('textarea').addClass('form-control')
    </script>
{% endblock %}